body,
html {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 100px; /* change it to desired width */
    background-color: black; /* change to desired color */
    color: white;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-height: 80%;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 100px;    /* if you want it vertically middle of the navbar */
}
.navigation-bar > a:hover {
  color: darkgrey;
}
.navigation-bar > a:active {
  color: grey;
}
/* Mobile Styles */
@media only screen and (max-width: 450px) {
  .logo {
    display: none;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 450px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
