body,
html {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.parallax {
    height: 600px;

}

.header {
    /* The image used */
    background-image: url("../images/logo.PNG");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    background-color: black;
    overflow: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);

}

#head_container {
    background-color: white;
}

#transparent {
    padding: 0;
    margin: 0;

}

#transparent img {
    width: 100%;
    display: block;
}

div#container {
    background-color: white;
    color: black;
    height: 400px;
    padding: 0;
    margin: 0;
}

div#container h2 {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 40px;
}
